#############################
#          GLOBAL
#############################

.env
.DS_Store
*.log

# IDEs
.vscode/
.idea/
*.iml

#############################
#         BACKEND
# (Java + Spring Boot)
#############################

target/
*.class
*.jar
*.war
*.ear

# IntelliJ/Gradle
.gradle/
build/
out/

# Spring Boot config local override
application-local.yml

#############################
#         FRONTEND
# (Node + Vite)
#############################

node_modules/
dist/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json # opcional

#############################
#       DOCKER
#############################

# Prevent local volumes from being added
data/uploads/*
!data/uploads/.gitkeep

#############################
#         OTHERS
#############################

# Logs
*.log
logs/
